@font-face {
    font-family: 'Orbitron';
    src: url('fonts/Orbitron/Orbitron-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Rubik Glitch';
    src: url('fonts/Rubik_Glitch/RubikGlitch-Regular.ttf') format('truetype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Oxanium';
    src: url('fonts/Oxanium/Oxanium-Regular.ttf') format('truetype');
    font-weight: 400;
  }

  

html, body {
    height: 100%;
    margin: 0;
    color: #fff;
    cursor: default;
    user-select: none;
}

body {
    width: 100%;
    background-image: url(fondo.png);
    position: absolute;
    z-index: 1;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Cambia la opacidad aquí */
    z-index: 1;
    pointer-events: none;
  }

main {
    position: relative;
    z-index: 3;
    height: 100%;
}

h1 {
    font-size: 7vw;
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    margin: 0;
    color: rgb(255, 255, 255);
    text-shadow: 
    2px 2px 0 rgb(235, 71, 186),
    4px 4px 0 rgb(97, 1, 116),
    6px 6px 0 rgb(30, 0, 255),
    8px 8px 0 rgb(10, 181, 238),
    10px 10px 0 cyan;
}

.contenedor {
    width: 80%;
    height: auto;
    margin: 0 10%;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .3vw;
    position: relative;
}

h2 {
    font-size: 4.2vw;
    position: relative;
}

ul, p, ol {
    font-size: 2.5vw;
    font-weight: 800;
}

li {
    margin: 2% 0;
}

.sub {
    font-family: "Oxanium", sans-serif;
    font-weight: 900;
    margin-top: 0;
    display: flex;
    justify-content: center;
    font-size: 2.2vw;
}

.but .boton {
    font-size: 3vw;
    margin-bottom: 1%;
    background: transparent;
    border: .5vw solid transparent;
    border-radius: 1vw;
    padding: .2% .2%;
    width: 30%;
    cursor: pointer;
    color: white;
    position: relative;
    z-index: 1;

    background-image: 
      linear-gradient(#000, #000), /* fondo interior */
      linear-gradient(270deg, 
        rgb(235, 71, 186), 
        rgb(97, 1, 116), 
        rgb(30, 0, 255), 
        rgb(10, 181, 238), 
        cyan,
        rgb(235, 71, 186)); /* borde degradado */

    background-origin: border-box;
    background-clip: content-box, border-box;

    background-size: 200% 50%;
    animation: animarBorde 5s linear infinite;
  }

  @keyframes animarBorde {
    0% {
      background-position: -100% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

.boton {
    color: white;
    font-size: 5vw;
    margin: 0;
    padding: 5% 20%;
    border-radius: 10px;
}

.matrix-container {
    position: relative;
    width: 56%;
    padding: 5% 20%;
    border: .5vw solid transparent;
    pointer-events: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    width: 100%;
    height:100%;
}

.texto {
    position: relative;
    z-index: 1;
    color: cyan;
    text-shadow: 0 0 5px cyan;
    font-size: 3.6vw;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    mix-blend-mode: lighten; /* Opcional, resalta la mezcla */
    margin: 0;
    text-align: center;
    /* modificaciones */
    text-decoration: none;
}

.but {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.frases {
display: flex;
position: relative;
width: 100%;
height: 5vh;
}

.glitch-container {
position: relative;
color: white;
}

.slice {
position: absolute;
left: 0;
top: 0;
overflow: hidden;
color:cyan;
/* text-shadow: 0 0 15px cyan; */
}

.slice span {
display: block;
}

.requisitos {
    display: grid;
    /* gap: 1rem; */
    grid-template-columns: 1fr; /* Móvil por defecto (1 columna) */
}

.insta {
    width: auto;
    /* height: 10vh; */
    position:fixed;
    cursor: pointer;
    bottom: 0;
    left: 0;
    margin: .5vh 2vw;
}

.insta img {
    width: 5vw;
    height: auto;
    border: .2vw solid #fff;
    box-shadow: 0 0 15px #000 ;
    border-radius: 1.2vw;
}

@media (min-width: 768px) {
    .requisitos {
    grid-template-columns: 1fr 1fr; /* Dos columnas para pantallas grandes */
    }

    .requisitos div {
        margin: 0 5%;
    }

    .contenedor {
        width: 100%;
        margin: 0;
    }

    .premio {
        width: 60%;
        margin: 0 20%;
    }

    h2 {
        font-size: 2.2vw;   
    }

    ul, p, ol {
        font-size: 1.5vw;
        font-weight: 800;
    }

    .insta {
        height: 10vh;
        margin: 1.5vh 1vw;
    }

}
  
